
h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #333232;
}
.circle {
  display: none;
}
@media (min-width: 1140px) {
    .circle {
      position: absolute;
      display: block;
      top: 0;
      right: -20%;
      z-index: -1;
  }
}
